body{
    font-family: 'Viaoda Libre', cursive;
    margin: 0px;
}
.name-highlights{
    color:yellowgreen;
}
.orange-highlights{
    color:orange;
}
h1{font-size: 35px;}
h2{font-size: 28px;}
h3{font-size: 15px;}
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}
.half-width img{
  width:60%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}
.dream-area{

    background-image: url("images/dream-bg.png");
    background-repeat:no-repeat;
    background-position:right;
}
section{
    height:400px;
    padding-top: 50px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,green,yellowgreen);
    padding:10px 20px;
    color:white;
    border-radius: 5px;
    font-weight: 700px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-image: linear-gradient(180deg,green,yellowgreen);
    border-left:5px solid ;
    border-image-slice: 1;
}
#baby-web{
    border-image: linear-gradient(180deg, blue,aqua);
    border-image-slice: 1;
    border-left: 5px solid ;
}
footer p{
    text-align: center;
    font-size: 12px;
}